<div class="container-fluid" style="background: linear-gradient(92.83deg, #091D42 0%, #071631 100%);">
    <div class="container justify-content-between">
        <!-- Footer -->
        <footer class="page-footer font-small pt-3">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div class="row">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="footer-title">Products</h5>
                <ul class="list-unstyled">
                <li><a class="footer-link" href="#!">CRM</a></li>
                <li><a class="footer-link" href="#!">Campaign Audiences</a></li>
                <li><a class="footer-link" href="#!">Email</a></li>
                <li><a class="footer-link" href="#!">Mobile & Loyalty</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="footer-title">Services</h5>
                <ul class="list-unstyled">
                <li><a class="footer-link" href="#!">CRM</a></li>
                <li><a class="footer-link" href="#!">Campaign Audiences</a></li>
                <li><a class="footer-link" href="#!">Email</a></li>
                <li><a class="footer-link" href="#!">Mobile & Loyalty</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="footer-title">Our Technology</h5>
                <ul class="list-unstyled">
                <li><a class="footer-link" href="#!">CRM</a></li>
                <li><a class="footer-link" href="#!">Campaign Audiences</a></li>
                <li><a class="footer-link" href="#!">Email</a></li>
                <li><a class="footer-link" href="#!">Mobile & Loyalty</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="footer-title">Company</h5>
                <ul class="list-unstyled">
                <li><a class="footer-link" href="#!">CRM</a></li>
                <li><a class="footer-link" href="#!">Campaign Audiences</a></li>
                <li><a class="footer-link" href="#!">Email</a></li>
                <li><a class="footer-link" href="#!">Mobile & Loyalty</a></li>
                </ul>
            </div>

            </div>

            <div class="footer-copyright footer-text pb-5">
            2020 Bridg Inc. All rights Reserved — Privacy
            </div>
        </div>
        <!-- Footer Links -->

        </footer>
        <!-- Footer -->
    </div>
</div>